:root {
  --title-color: #212121;
  --text-color: #757575;
  --font-logo: "Raleway", sans-serif;
  --font-text: "Roboto", sans-serif;
  --main-color: #2196f3;
  --footer-color: #ffffff;
  --footer-address: rgba(255, 255, 255, 0.6);
  --footer-source: rgba(255, 255, 255, 0.4);
}
body {
  font-family: var(--font-text);
  font-style: normal;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
h2 {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
h3 {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.logo {
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.blue {
  color: var(--main-color);
}
.studio {
  color: black;
}
.site-nav {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link {
  color: var(--title-color);
}
.link:hover,
.link:focus {
  color: var(--main-color);
}
.site-nav .link-current {
  color: var(--main-color);
}
.contac {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
  color: var(--text-color);
}
.contac:hover,
.contac:focus {
  color: var(--main-color);
}
.portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.list-items {
  color: var(--title-color);
}
.list-items:hover,
.list-items:focus {
  color: var(--main-color);
}
.quality {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
.quality-second {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-color);
}
.techno {
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--footer-color);
}
p {
  color: var(--text-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18px;
  letter-spacing: 0.03em;
}
.footer-studio {
  color: var(--footer-color);
  font-style: normal;
}
.footer-addres {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-act {
  color: var(--footer-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.buttom {
  color: var(--footer-color);
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
.source {
  color: var(--footer-source);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
}
